h1 {
  text-align: center;
  color: goldenrod;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

div {
  text-align: center;
  border-radius: 5px;
}

a {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hotpink;
  color: white;
  border: solid black 1px;
  border-radius: 5px;
}
